<div class="row" style="height:730px;" ng-controller="IntroController">
    <div style="background-image: url('images/easter_worship.jpg'); height:730px; padding-top:130px;">
        <div class="intro">
            <p class="intro-title">교회 소개</p>
            <p class="intro-content">안녕하세요</p>
            <p class="intro-content">사랑의 열린 문 교회 홈케이지를 방문해 주셔서 감사를 드립니다.
                <p class="intro-content">사랑의 열린 문 교희는 '미주한인장로교단' 서북미 노회에 가입된 장로교회임니다
                    <br>성전에서부터 흘러나온 물이 죽어있는 아라바 바다를 살리는 것처럼
                    <br> 하나님의 말씀을 통해 개인과 가정, 사회의 진정한 회복을 꿈끄며 소망하는 교회 입니다</p>

                <p class="intro-content">저희 교회는 하나님의 말씀을 중심으로 예배, 교육, 선교, 교제를 성경에 기초하여
                    <br>굳건하게 세워가벼, 무엇보다 성경을 깊이 있게 배워
                    <br>이 땅에 하나님 나라 확장을 이루어 가는 것을 목표로 하고 있습니다</p>
                <br>
                <br>
        </div>
    </div>
</div>
