<div class="row">
    <div class="" style="float:left;">
        <img src="images/new_hp.jpg" style="width:475px; height:508px;">
    </div>
    <div style="">
        <img src="images/new_hp.jpg" style="width:475px; height:508px;">
    </div>

</div>
<div class="row" style="height:266px;">
    <div class="mission hp-text" style="float:left;">
        <p class="hptitle">사명 선언문 </p>
        <p class="hpsubtitle">Mission Statement</p>
    </div>
    <div class="" style="float:left;">
        <img src="images/mission.jpg" style="width:230px; height:266px;">
    </div>
    <div class="worship hp-text" style="float:left;">
        <p class="hptitle">예배 시간 </p>
        <p class="hpsubtitle">Service and worship times</p>
        <p class="hptitle">행사 일정 </p>
        <p class="hpsubtitle">Upcoming events</p>
    </div>
    <div class="">
        <img src="images/worship.png" style="width:230px; height:266px;">
    </div>
</div>
