<div class="row" style="height:730px;">
    <div style="background-image: url('images/churchmission.jpg'); height:730px; padding-top:130px;">
        <div class="intro">
            <p class="intro-title">1. 은혜를 사모하는 공동체</p>
            <p class="intro-content">하나님의 은혜는 놀랍습니다. 강력한 힘이 있습니다. 내 자신을 변화시킵니다.
                <br>그래서 에배 때 마다 하나님의 은혜를 사모하는 교회입니다</p>
            <p class="intro-title">2. 구원의 감격이 있는 공동체</p>
            <p class="intro-content">예수님을 일지 못했던 수 많은 성경의 인물들이 있습니다. 그들이 예수님을 만나고 구뤈의 감겨을 경험한 후 변화된 삶을 살았습니다
                <br> 그 감격을 잊지 않으며, 또한 구원을 선포하는 교회입니다.</p>
            <p class="intro-title">3. 회북이 있는 공동체</p>
            <p class="intro-content">예수님을 만나면 삶이 회복됩니다. 상처가 치유됩니다.관계가 회복이 됩니다.
                <br>사랑의 열린 문 교회는 하나님의 말씀을 통해 진정한 회복을 추구하는 교회입니다.</p>
            <p class="intro-title">세상으로 나아가는 공동체</p>
            <p class="intro-content">사랑의 열린 문 교회는 성도들을 예수님의 제자로 만들어 세상에 보냄을 목표로 하고 있습니다.</p>

            <br>
            <br>
        </div>
    </div>
</div>
