<div class="col-md-6 event-item">
    <div class="inner">
        <div class="left-col">
            <img src="{{eventImage}}" alt="">
        </div>
        <div class="right-col">
            <span class="date">06</span>
            <span class="month">{{eventDay}}</span>
            <span class="time">{{eventTime}}</span>
        </div>
    </div>
    <div class="desc">
        <a href="#">
            <h3>{{eventLocation}}</h3>
        </a>
        <span class="text">{{eventDescription}}
                            </span>
    </div>
</div>
