<div class="custom-col-3 wow flipInX">
    <div class="left-col">
                <img src="{{sermonImg}}" alt="" class="img-responsive">
<!--<iframe title="Youtube video" src="https://www.youtube.com/embed/L6szY-0SPi0" frameborder="0" class="img-responsive"></iframe>-->
    </div>
    <div class="mid-col">
        <a href="#">
            <h3>{{sermonTitle}}</h3>
        </a>
        <div class="details"><span>By <a href="#">{{sermonAuthor}}</a>, {{sermonDate}}</span></div>
    </div>
    <div class="right-col">
        <a href="#"><i class="fa fa-video-camera"></i></a>
        <!--        <a href="#"><i class="fa fa-volume-up"></i></a>-->
        <a href="#"><i class="fa fa-file-pdf-o"></i></a>
    </div>
</div>
